openapi: 3.0.0
info:
  title: Path of Exile Community Schema Management API
  description: |
    A declarative management API for community schema definitions of Path of Exile tabular data files.
    This API manages `ColumnClaims` which represent columns in `.datc64` files.
  version: 1.0.0
  contact:
    name: graham.forest@protonmail.com
    url: https://poe-schema.obsoleet.org/support
servers:
  - url: https://poe-schema.obsoleet.org
    description: Production server

components:
  schemas:
    Scalar:
      oneOf:
        - type: string
          enum:
            - Unknown
            - SelfRow
            - Bool
            - String
            - I16
            - U16
            - I32
            - U32
            - F32
            - I64
            - U64
        - type: object
          properties:
            type:
              type: string
              enum:
                - ForeignRow
            target:
              type: string
              description: The target datfile this foreign row points to
          required:
            - type
            - target
        - type: object
          properties:
            type:
              type: string
              enum:
                - EnumRow
            enum_name:
              type: string
              description: The name of the enum this row points to
          required:
            - type
            - enum_name

    Cell:
      type: object
      properties:
        type:
          type: string
          enum:
            - Scalar
            - Array
        scalar:
          $ref: '#/components/schemas/Scalar'
      required:
        - type
        - scalar

    ColumnClaim:
      type: object
      properties:
        name:
          type: string
          description: User-defined name of the column claim (optional)
        offset:
          type: integer
          description: Byte offset of the start of the ColumnClaim in each row of the table
          minimum: 0
        bytes:
          type: integer
          description: Number of bytes the column claim occupies, starting at offset
          minimum: 1
          maximum: 8
        labels:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key/value metadata about the claim
        column_type:
          $ref: '#/components/schemas/Cell'
        source:
          type: string
          description: Identity of the user or tool that created the column claim
        datfile:
          type: string
          description: The datfile this column claim references (e.g., 'mods' for 'data/mods.datc64')
      required:
        - offset
        - bytes
        - column_type
        - source
        - datfile

    Enum:
      type: object
      properties:
        name:
          type: string
          description: Name of the enum
        values:
          type: array
          items:
            type: string
          description: Ordered list of enum values
        zero_indexed:
          type: boolean
          description: Whether the enum is zero-indexed (true) or one-indexed (false)
          default: true
      required:
        - name
        - values
        - zero_indexed

    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      required:
        - code
        - message

paths:
  /enums:
    post:
      summary: Create or update an enum
      description: |
        Declarative endpoint to create or update an enum.
        - To create an enum, provide a complete Enum object
        - To update an enum, provide the name and fields to update
      operationId: manageEnum
      tags:
        - Enums
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Enum'
      responses:
        '200':
          description: Enum updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enum'
        '201':
          description: Enum created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enum'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /enums/{name}:
    delete:
      summary: Delete an enum
      description: Delete an enum by its name
      operationId: deleteEnum
      tags:
        - Enums
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the enum to delete
          schema:
            type: string
      responses:
        '204':
          description: Enum successfully deleted
        '404':
          description: Enum not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /enums/search:
    post:
      summary: Search for enums
      description: |
        Search for enums based on provided criteria.
        All search parameters are optional and combined with AND logic.
      operationId: searchEnums
      tags:
        - Enums
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Filter by name (partial match)
                value:
                  type: string
                  description: Filter by enum value (contains)
                page:
                  type: integer
                  description: Page number for pagination
                  default: 1
                  minimum: 1
                page_size:
                  type: integer
                  description: Number of results per page
                  default: 20
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enum'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /healthz:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API
      operationId: getHealth
      tags:
        - System
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        '500':
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /datfiles/{datfile}/column-claims:
    post:
      summary: Create or update a column claim
      description: |
        Declarative endpoint to create or update a column claim.
        - To create a claim, provide a complete ColumnClaim object
        - To update a claim, provide at least source, offset, and column_type (for identification) plus fields to update
      operationId: manageColumnClaim
      parameters:
        - name: datfile
          in: path
          required: true
          description: The datfile identifier (e.g., 'mods' for 'data/mods.datc64')
          schema:
            type: string
      tags:
        - ColumnClaims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ColumnClaim'
      responses:
        '200':
          description: Column claim updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnClaim'
        '201':
          description: Column claim created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnClaim'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /datfiles/{datfile}/column-claims/{source}/{offset}:
    delete:
      summary: Delete a column claim
      description: Delete a column claim by its source and offset
      operationId: deleteColumnClaim
      tags:
        - ColumnClaims
      parameters:
        - name: datfile
          in: path
          required: true
          description: The datfile identifier (e.g., 'mods' for 'data/mods.datc64')
          schema:
            type: string
        - name: source
          in: path
          required: true
          description: The source of the column claim
          schema:
            type: string
        - name: offset
          in: path
          required: true
          description: The offset of the column claim
          schema:
            type: integer
      responses:
        '204':
          description: Column claim successfully deleted
        '404':
          description: Column claim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /datfiles/{datfile}/column-claims/search:
    post:
      summary: Search for column claims
      description: |
        Search for column claims based on provided criteria.
        All search parameters are optional and combined with AND logic.
      operationId: searchColumnClaims
      parameters:
        - name: datfile
          in: path
          required: true
          description: The datfile identifier (e.g., 'mods' for 'data/mods.datc64')
          schema:
            type: string
      tags:
        - ColumnClaims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: Filter by source
                offset:
                  type: integer
                  description: Filter by exact offset
                offset_range:
                  type: object
                  properties:
                    min:
                      type: integer
                    max:
                      type: integer
                  description: Filter by offset range
                column_type:
                  $ref: '#/components/schemas/Cell'
                  description: Filter by column type
                name:
                  type: string
                  description: Filter by name (partial match)
                labels:
                  type: object
                  additionalProperties:
                    type: string
                  description: Filter by labels (exact matches)
                page:
                  type: integer
                  description: Page number for pagination
                  default: 1
                  minimum: 1
                page_size:
                  type: integer
                  description: Number of results per page
                  default: 20
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/ColumnClaim'
                        - type: object
                          properties:
                            datfile:
                              type: string
                              readOnly: true
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
